*{
  box-sizing: border-box;
  padding:0;
  margin:0;
  transition:all ease-in-out 250ms;  
}

h1, span, div{
  color:hsl(0, 0%, 100%);
}

body{
    background-color:hsl(0, 0%, 12%);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight:weight;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

section{
    width:min-content;
    /* width:50%; */
    margin:auto;
    background-color: hsl(0, 0%, 8%);
    height:100vh;
    padding: 5rem 1.5rem;
}

.container{
   width:320px;
   /* width:85%; */
   margin:0 auto;
   background-color:hsl(0, 0%, 12%);
   border-radius:12.5px;
   text-align:center;
   padding:1.5rem 0 0.5rem;   
}

img {
    width:90px;
    display:block;
    margin:0 auto;
    border-radius:50%;
}

h1{
   font-weight:400;
   margin-top:1.5rem;
  
}

h1 span {
    color:hsl(75, 94%, 57%);
    margin-top:0.5rem;
}

.title-spec{
  font-size:14px;
  padding:1.7rem 0 0.5rem;
}

span{
  display:block;
  font-size: 14px;
  font-weight:600;
}


 a {
  display:block;
  width:86%;
  margin:1rem auto;
  text-decoration:none;
  background-color:hsl(0, 0%, 20%);
  border-radius:7px;
}


a span{
   white-space:nowrap;
   padding:0.8rem 0;
   border-radius:7px;
}

a span:hover{
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
}

@media (min-width:800px){
    body{
      background:hsl(0, 0%, 8%);
      margin:auto;
    }
    .container{
        width:400px;
        padding:2rem 1rem 1rem;
    }
}







